@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  font-family: 'Poppins', sans-serif;
  --primary-button-color:rgb(217, 204, 196);
}

*{
  
  padding: 0;
  margin: 0;
  color: black;
  box-sizing: border-box;
  
}
body{
  background-color: rgb(253, 252, 240);
}
input:focus{
  outline:1px solid #dd2476;     /* oranges! yey */
}
button{
  font-family: 'Poppins', sans-serif;
  background-color: white;
  border-radius: 20px;
  padding: 0.5em 1em;
  border: none;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.415);
  transition: all ease-in 1ms;
  font-size: 0.8em;
  font-weight: 400;
  color:  #dd2476;
}
button:hover{
  
  background-color: white;
  box-shadow: 4px 4px 6px #dd247767;
  color:#ff512f ;
}
