<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoState</title>
    <link rel="stylesheet" href="placepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./placepage.css">
</head>
<body>
    <div class="backButton">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="imgArea">
        <div class="imageSection">
        
        </div>
    </div>
    <div class="title">
        
    </div>
    <div class="flexSection">
        <div class="description">
            
        </div>
        <div class="payment">
            <div class="paymentDetails">
                <div class="firstDet">
                    <h3>₹5,984</h3>
                    <h4>+ ₹1,071 taxes & fees</h4>
                    <span>/ night</span>
                </div>
                <div class="secDet">
                    <span>₹6,299 5% off No cost EMI from ₹2,352</span>
                </div>
            </div>
            <button>
                Buy room
            </button>
        </div>
    </div>
    <script type="module" src="placePage.js"></script>
    <script type="module" src="./../../js/userAuthentication.js"></script>
    <script type="module" src="./../firebase/firebase.js"></script>
</body>
</html>