<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoState</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./home_page.css">
</head>
<body>
    <nav class="nav">
        <div class="nav-logo">
            <h1 class="title" >geostate<span>.</span></h1>
            <i class="fa-solid fa-bars" ></i>
        </div>
        
        <div class="nav-menu">
            <ul class="nav-ul">
                <li><a href="#" class="link active">Home</a></li>
                <li><a href="#" class="link">Story</a></li>
                <li><a href="#" class="link">Services</a></li>
                <li><a href="#" class="link">About</a></li>
                <div>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                
            </div>
            </ul>
            
           
            
        </div>
        <i class="fa fa-sign-out" id="mobile-log" aria-hidden="true" ></i>
    </nav>
    <div class="mainPage">
        <div class="list">
            <!-- <div class="item" style="background-image: url(https://images.unsplash.com/photo-1508804185872-d7badad00f7d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                
            </div> -->
        </div>
        <div class="arrows">
            <button class="prev">&lt;</button>
            <button class="next">&gt;</button>
        </div>
        <div class="timeRunning">
               
        </div>
        <button class="downBtn" ><i class="fa-solid fa-chevron-down"></i></button>
        
        <div class="search-input-container">
            <div class="search-input-with-dropdown">
              <div class="left-side-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img" class="icon fill-current search-icon">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z"></path>
            </svg>
            
                <form action="/search" class="js-search-input-form search-input-form" method="get">
                  <label for="search" class="accessibility-text">Search</label>
                  <input id="search" type="search" name="q" placeholder="Search..." value="" class="search-input js-search-input">
                </form>
              </div>
              <div class="button-search">
                <button>Search</button>
              </div>

    </div>
    
            
        
        
    </div>
    <section class="secTwo">
        <div class="secColumn">
            <h1 class="reviewTitle"> What Customer Say's</h1>
            <div class="reviewCustomer">
                <article class="ReviewCard" data-element-name="traveler-review-card">
                    <a class="hotelLink" href="https://www.booking.com/searchresults.html?aid=318615&label=Low_CPA_English_EN_IN_21456997105-hJ4rUEGS3eGv9fzrUDj3NgS634117823733%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi55090055812%3Atidsa-302962658775%3Alp9299439%3Ali%3Adec%3Adm%3Aag21456997105%3Acmp339861625&highlighted_hotels=438421&redirected=1&city=-2637882&hlrd=no_dates&source=hotel&expand_sb=1&keep_landing=1&sid=5f6c1efc8f79d26ce913153864fd46c8" class="ReviewCard__HotelLink">
                        <p class="ReviewCard__HotelNameStandard ReviewCard__HotelName" data-element-name="review-card-hotel-name">
                            King Plaza Hotel</p>
                        </a>
                        <p class="ReviewCard__HotelCountry">in Taiwan</p>
                        <p class="ReviewCard__Review">"Looks exactly what is posted here in Geostate. Great service and awesome stay!"</p>
                        <p class="ReviewCard__Reviewer"> - Rahnee from the Philippines</p>
                </article>
                <article class="ReviewCard" data-element-name="traveler-review-card">
                    <a class="hotelLink" href="https://hoteleucalyptus.gr/">
                        <p class="ReviewCard__HotelNameStandard ReviewCard__HotelName" data-element-name="review-card-hotel-name" >
                            Hotel Eucalyptus</p>
                        </a>
                        <p class="ReviewCard__HotelCountry">in Greece</p>
                        <p class="ReviewCard__Review">"We booked Hotel Eucalyptus through Geostate after reading a handful of reviews, and it was easily the best decision we made for our trip to Santorini."</p>
                        <p class="ReviewCard__Reviewer"> - Joyce from the Canada</p>
                </article>
                <article class="ReviewCard" data-element-name="traveler-review-card">
                    <a class="hotelLink" href="https://www.booking.com/searchresults.html?aid=318615&label=Low_CPA_English_EN_IN_21456997105-hJ4rUEGS3eGv9fzrUDj3NgS634117823733%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi55090055812%3Atidsa-302962658775%3Alp9299439%3Ali%3Adec%3Adm%3Aag21456997105%3Acmp339861625&highlighted_hotels=438421&redirected=1&city=-2637882&hlrd=no_dates&source=hotel&expand_sb=1&keep_landing=1&sid=5f6c1efc8f79d26ce913153864fd46c8" class="ReviewCard__HotelLink">
                        <p class="ReviewCard__HotelNameStandard ReviewCard__HotelName" data-element-name="review-card-hotel-name">
                            The Sydney Boulevard Hotel</p>
                        </a>
                        <p class="ReviewCard__HotelCountry">in Australia</p>
                        <p class="ReviewCard__Review">"Booking the Executive Room-City View at a really affordable price via Geostate is quite a steal."</p>
                        <p class="ReviewCard__Reviewer"> - Bellarmine from the Philippines</p>
                </article>
                
            </div>

            <button class="secdownBtn" ><i class="fa-solid fa-chevron-down"></i></button>
            
        </div>
    </section>
    <section class="secThree">
        <div class="thirdPageContent">
            <div class="thirdHeading">
                <div class="lineDesign"></div>
                <span class="thirdTitle">Our Top Destination's</span>
                <div class="lineDesign"></div>
            </div>
            <button class="nextCardBtn"><i class="fa-solid fa-chevron-right"></i></button>
            <div class="cardpage">
                 <!-- <div class="card" style="background-image: url(https://images.unsplash.com/photo-1508804185872-d7badad00f7d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
                    <h2 class="cardTitle">China Great Wall</h2> -->
            </div>
            <div class="secHeading">
                <span>Why Book Hotels with Geostate.com?</span>
            </div>
            <div class="faqsPage">
                <img src="https://www.easemytrip.com/hotels/content/img/homes/hotel-icn.svg" alt="Hotel">
                <img src="https://www.easemytrip.com/hotels/content/img/homes/wallet-icn.svg" alt="Wallet"></img>
                <img src="https://www.easemytrip.com/hotels/content/img/homes/rating-icn.svg" alt="Ratimg"></img>

            </div>
            <div class="faqsText">
                <span> Extensive Hotel Options
                </span>
                <span> Savings on Hotel Booking
                </span>
                <span> High Hotel Ratings
                </span>

            </div>
            <footer>
                <div class="footerBody">
                    <span class="copyrightBodyMobile"> &copy;Copyright 2024 geostate</span>
                    <div class="footerTitle">
                        <h1>
                            GeoState
                        </h1>
                        <span>
                            GeoState offers 'End to End' travel solutions for all major cities. 
                        </span>
                        <span class="copyrightBody"> &copy;Copyright 2024 geostate</span>
                    </div>
                    <div class="qrCode">
                        <img class="imgQr" src="https://i.ibb.co/dMjzYSq/Screenshot-2024-06-12-122458.png" alt="qrCode" width="100" height="100">
                    </div>
                </div>
            </footer>
                
            </div>
            
        </div>
        
    </section>
    
    <script type="module" src="homepage.js"></script>
    <script type="module" src="./../../js/userAuthentication.js"></script>
    <script type="module" src="./../firebase/firebase.js"></script>
</body>
</html>